---
import '../styles/wos-plus-main.css'

const { canonicalURL = Astro.url } = Astro.props
const title = Astro.props?.title ?? Astro.props?.content?.title ?? ''
const description =
  Astro.props?.description ?? Astro.props?.content?.description ?? ''
const keywords = Astro.props?.keywords ?? Astro.props?.content?.keywords ?? ''
---

<html lang="en" class="dark">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Preload -->
    <slot name="preload" />

    <!-- Primary Meta Tags -->
    <title>
      {canonicalURL.pathname === '/' ? title : `${title}`}
    </title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <!-- <link
      rel="icon"
      type="image/png"
      href="/favicon.ico"
    /> -->
    <script is:inline>
      // Force dark mode
      document.documentElement.classList.add('dark');
      localStorage.setItem('theme', 'dark');
    </script>
  </head>

  <body>
    <div class="wrapper">
      <slot />
    </div>
  </body>
</html>
